.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 56px auto 0px;
}

.login-header__caption {
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 50px 0 80px;
}

@media screen and (min-width: 768px) {
  .login-header {
    max-width: 396px;
    width: 100%;
    margin: 232px auto 0px;
    align-items: flex-start;
    text-align: left;
  }

  .login-header__caption {
    margin: 40px 0;
  }
}

@media screen and (min-width: 1280px) {
  .login-header {
    margin: 70px auto 0px;
  }
}