.navigation {
    box-sizing: border-box;
    max-height: 74px;
  }
  
  .navigation__icon {
    margin: 15px 14px;
    box-sizing: border-box;
    width: 40px;
    height: 43px;
  }
  
  .navigation__icon:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  
  .navigation__overlay {
    background-color: #000;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .navigation__popup {
    position: fixed;
    top: 0;
    right: 0;
    box-sizing: border-box;
    width: min(100%, 520px);
    height: 100%;
    z-index: 100;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 144px 10px 0px;
    box-sizing: border-box;
  }
  
  .navigation__cross {
    position: absolute;
    top: 14px;
    right: 14px;
  }
  
  .navigation__cross:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  
  .navigation__main-nav {
    display: flex;
    flex-direction: column;
  }
  
  .navigation__link {
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    text-decoration: none;
    width: min-content;
    height: 22px;
    white-space: nowrap;
    margin: 0 auto;
    padding-bottom: 24px;
  }
  
  .navigation__link:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  
  .navigation__link_current {
    border-bottom: 2px solid #000;
  }

  .navigation__profile-link {
    margin: 0 auto;
    display: flex;
  }
  
  .navigation__profile-link:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  
  .navigation__user-icon:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  
  .navigation__user-icon {
    width: 100px;
    height: 30px;
    background-image: url(../../images/profile.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin: auto auto 48px;
  }
  
  @media screen and (min-width: 768px) {
    .navigation__popup {
      padding: 159px 90px 0px;
    }
    .navigation__icon {
      margin: 15px 30px;
    }
    .navigation__link {
      padding-bottom: 28px;
    }
    .navigation__cross {
      top: 23px;
      right: 23px;
    }
    .navigation__user-icon {
      margin: auto auto 92px;
    }
  }
  
  @media screen and (min-width: 801px) {
    .navigation {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
    }
  
    .navigation__main-nav {
      display: flex;
      flex-direction: row;
      margin: 28px 0px;
    }
  
    .navigation__link {
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      margin: 0 16px 0 0;
      padding: 0;
    }

    .navigation__link:last-of-type {
      margin: 0;
    }
  
    .navigation__link_current {
      border: none;
      font-weight: 500;
    } 

    .navigation__user-icon {
      margin: 21px 30px 23px 0px;
  }
  }
  
  @media screen and (min-width: 1280px) {
    .navigation__user-icon {
      margin: 21px 70px 23px 0px;
  }
}