.profile {
    width: 100%;
    height: calc(100vh - 74px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .profile__info {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
  }
  
  .profile__heading {
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 70px 0px 80px;
  }
  
  .profile__unit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    align-items: center;
  }
  
  .profile__key {
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    margin: 0px;
    padding: 3px;
  }
  
  .profile__value {
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin: 0;
    border: none;
    padding: 3px;
    text-align: end;
    min-height: 13px;
  }
  
  .profile__value:focus {
    outline: none;
    border-bottom: 1px solid #2BE080;
  }
  
  .profile__line {
    width: 100%;
    border: none;
    border-top: 1px solid #e8e8e8;
    margin-top: 16px;
    margin-bottom: 17px;
  }
  
  .profile__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 379px;
    margin-bottom: 40px;
  }
  
  .profile__button {
    padding: 2px;
    margin-bottom: 16px;
    color: #000;
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    border: 0;
    background-color: transparent;
  }
  
  .profile__button:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  
  .profile__button_active_false {
    color: #888;
  }
  
  .profile__button_active_false:hover {
    cursor: not-allowed;
    opacity: 1;
  }
  
  .profile__button_quit {
    color: #ee3465;
    font-weight: 500;
  }
  
  .profile__button:focus {
    outline: none;
  }
  
  .profile__error {
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #ee3465;
    text-align: right;
  }
  
  .profile__saved {
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #888;
    text-align: center;
  }
  
  @media screen and (min-width: 768px) {
    .profile__info {
      margin: 0 179px;
    }
  
    .profile__heading {
      margin: 236px 0 96px;
    }
  
    .profile__buttons {
      margin-top: 210px;
      margin-bottom: 268px;
    }
  
    .profile__button {
      font-size: 13px;
      line-height: 16px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .profile__info {
      margin: 0 435px;
    }
    .profile__heading {
      margin: 74px 0 123px;
    }
  
    .profile__buttons {
      margin-top: 220px;
      margin-bottom: 70px;
    }
  }